header {
    background-color: rgb(62, 105, 196);
    opacity: 0.8;
    height: 8rem;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  header > h1 {
    color: black;
    margin-left: 2em;    
  }