@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@100;300&family=Yanone+Kaffeesatz&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

/* HEADER */

header {
  background-color: rgb(62, 105, 196);
  opacity: 0.8;
  height: 8rem;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header > h1 {
  color: black;
  margin-left: 1.6em;
}

/* NAV */

nav {
  height: 3em;
  background-color: rgba(0, 0, 0, 0.656);
}

nav > button {
  cursor: pointer;
  color: aliceblue;
  background: none;
  border: none;
  height: 3em;
  padding: 1em;
  margin-left: 3em;
}

/* HOME */

.Home {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: calc(100vh - 11rem);
}

.Home > ul {
  margin-left: 3.25em;
  margin-right: 3.25em;
  list-style-type: none;
}

li {
  margin-top: 1em;
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  width: 90vw;
}

.post-title {
  font-size: 2rem;
  margin-bottom: 1em;
}

.post-body {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}

.btn-delete-post {
  cursor: pointer;
  margin-left: 1em;
  padding: 0.8em 1.8em;
  border: 2px solid red;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.6em;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: red;
}

.btn-delete-post::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: red;
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.btn-delete-post:hover::before {
  width: 105%;
}

.btn-delete-post:hover {
  color: #111;
}

.btn-edit-post {
  cursor: pointer;
  padding: 0.8em 1.8em;
  border: 2px solid rgb(62, 105, 196);
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.6em;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: rgb(62, 105, 196);
  opacity: 0.8;
}

.btn-edit-post::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: rgb(62, 105, 196);
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.btn-edit-post:hover::before {
  width: 105%;
}

.btn-edit-post:hover {
  color: #111;
}

/* POSTPAGE */

.post-page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 3.25em;
  margin-right: 3.25em;
  margin-top: 1em;
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  width: 90vw;
}

.btn-container {
  display: flex;
}

/* ADDPOST PAGE & EDITPOST PAGE*/

.add-post-form {
  display: flex;
  flex-direction: column;
}

.add-post-form input[type='text'] {
  height: 3rem;
  padding: 1em;
  font-size: 1em;
} 

.add-post-form textarea {
  height: 20rem;
  width: 50rem;
  padding: 1em;
  font-size: 1em;
  resize: none;
}

.add-post-form > label {
  font-size: 2em;
}

.add-post-form > .postBody-label {
  margin-top: 1em;
}

.add-post-form > .btn-edit-post {
  margin-top: 1.5em;
  width: 10.4em;
}

.empty-body-enabled, .empty-title-enabled {
  color: red;
}

.empty-body-disabled, .empty-title-disabled {
  display: none;
}